.TodoCard {
    border: 1px solid black;
    border-radius: 1em;
    margin: 1em 0;
    padding: 1em;
    box-shadow: #1a1a1a 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
}

.TodoCard > p {
    margin-top: 0;
}

.Buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}